.grid-view img {
  object-fit: cover;
}
.slider-container {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider-image {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}
.hidden {
  display: none;
}
.thumbnails {
  display: flex;
  overflow-x: auto;
  margin-top: 1rem;
}
.thumbnail {
  flex: 0 0 auto;
  width: 80px;
  height: 60px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.3s ease-in-out;
}
.thumbnail img.active {
  border-color: #ffffff;
}

/* Modal styles */
#image-modal {
  z-index: 1000;
  display: none;
}

#image-modal.show {
  display: flex;
}

.modal-content {
  position: relative;
  width: 1280px;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#close-modal {
  position: absolute;
  top: 11.5%;
  right: 1%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  opacity: 0.7;
  scale: 1;
  transition: all 0.3s ease-in-out;
}

#close-modal:hover {
  opacity: 1;
  scale: 1.05;
}

@media (max-width: 768px) {
  #close-modal {
    right: 8%;
  }
}
