@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

#card-section::before {
  content: "";
  position: absolute;
  top: 42.8%;
  left: 50%;
  transform: translateX(-71%);
  rotate: 45deg;
  border-width: 80px;
  border-radius: 32px;
  border-style: solid;
  border-color: black;
  z-index: 0;
}

.hidden {
  display: none;
}

.slider {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.slider::-webkit-scrollbar {
  display: none;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #818181;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.active {
  background-color: #cacaca;
  box-shadow: #ffffff 0 0 10px 1px;
}

/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a38fac85;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a063de;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a063de;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

@keyframes slideIn {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 0.9;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

.dot.inactive {
  cursor: not-allowed;
  background-color: #555555c9;
}
