.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0;
  position: relative;
  border: none;
}

.inputGroup input {
  font-size: 100%;
  margin-bottom: 0.5rem;
  padding: 0.8em;
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
  transition: border 0.3s ease;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
  color: #586cc8;
}

.inputGroup input:focus,
.inputGroup input:valid {
  border: 1px solid #586cc8;
  box-shadow: 0 0 3px #586cc8;
}

.inputGroup input[data-invalid="true"] ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
  color: red;
}
